@import './base.css';

/* Garante que o HTML e o body ocupem a altura total da tela */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Opcional: garante que padding e border sejam incluídos no cálculo de largura e altura */
}

/* Garante que o contêiner principal ocupe a altura total da tela */
#app {
  min-height: 100vh; /* Garante que o elemento com id 'app' ocupe pelo menos a altura total da tela */
  display: flex; /* Opcional: se você precisar de um layout flexível */
  flex-direction: column; /* Opcional: se você estiver usando flexbox para alinhar o conteúdo */
}
